---
import BundleJS from "../bundles/BundleJS.astro";
import ReactCSS from "../bundles/ReactCSS.astro";
import ApplicationInsightsFilterJS from "../bundles/ApplicationInsightsFilterJS.astro";
import stringify from 'safe-stable-stringify';

const { htmlLanguage, title, canonicalUrl, metaNoIndex, metaDescription, metaKeywords,
    seoScript, enableAppInsightsFiltering
 } = Astro.props;

const {pageData} = Astro.props; 
const json = stringify(pageData);

---

<!doctype html>
<html class="ap-profile" lang="{htmlLanguage || 'no'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Altinn"}</title>

    {canonicalUrl && 
        <link rel="canonical" href="{canonicalUrl}" />
    }

    {metaNoIndex && 
        <meta name="robots" content="noindex" />
    }

    {metaDescription &&
        <meta name="description" content="{metaDescription}" />
    }

    {metaKeywords &&
        <meta name="keywords" content="{metaKeywords}" />
    }

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" type="image/png" href="~/Static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicon/manifest.json" crossorigin="use-credentials">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg">
    <link rel="stylesheet" href="https://altinncdn.no/fonts/inter/v4.1/inter.css" integrity="sha384-OcHzc/By/OPw9uJREawUCjP2inbOGKtKb4A/I2iXxmknUfog2H8Adx71tWVZRscD" crossorigin="anonymous">
    <meta name="apple-mobile-web-app-title" content="Altinn">
    <meta name="application-name" content="Altinn">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

   
    {seoScript}

    <BundleJS/>
    <ReactCSS/>

    {enableAppInsightsFiltering &&
        <ApplicationInsightsFilterJS/>
    }

</head>
<body>
    <div id="reactDiv" data-json={json}></div>
    <script type="text/javascript">
        ReactDOMClient.hydrateRoot(
            reactDiv,
            React.createElement(Components.SiteLayout, JSON.parse(reactDiv.dataset.json))
        );
    </script>
</body>
</html>